.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 5%;
    color: #F2F4F3;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    width: 100%;
}

.main-content h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 700;
    color: #c3c5ff;
    margin: 24px 0 12px 0;
    text-align: center;
    text-shadow: 0 2px 6px rgba(90, 77, 232, 0.5);
    letter-spacing: 1.2px;
    user-select: none;
    font-family: 'Inter', sans-serif;
}